

  
  
 
  .container{
    margin-left: 0px;
    margin: 0px;
    width: 900px;
    
  }
  
  
  .contact{
		
		
        background: none;
        margin-top: 10px;
        margin-left: 100px;
	}
	.col-md-3{
		background-color: rgb(198, 202, 205);
		padding: 4%;
        opacity: 0.7;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
        color: rgb(128, 75, 227);
        margin-bottom: 30px;
  }
	.contact-info{
		margin-top:10%;
        color: rgb(80, 53, 199);
	}
	
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		
    opacity: 0.8;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
    color: rgb(244, 239, 239);
	}
	.contact-form button{
		background: rgb(80, 53, 199);
		color: rgb(250, 242, 242);
		font-weight: 600;
    border-color: rgb(80, 53, 199);
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}