.home {
    display: flex;
    flex-direction: column;
    height: 1000px;
   
  }
.home_search{
    background-color: rgba(240, 248, 255, 0.831);
    width: 95%;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px 20px 0px 0px;
}
  .home_panelList-wrap,
  .home_panel-wrap,
  .home_list-wrap {
    overflow-y: auto;
    background-color:  rgba(240, 248, 255, 0.831);
    width: 95%;
    margin-left: 20px;
    
  }
  
  .home_panelList-wrap {
    flex: 1;
    display: flex;
    
  }
  .home_panel-wrap {
    flex-basis: 280px;
    padding: 1rem;
  }
  .home_list-wrap {
    flex: 1;
    padding: 1rem;
  }

.createEvent{
  display:flex;
margin: 20px;
align-items: center;
justify-content: center;
width: 1200px;
border-radius: 20px;
    
    background-color: rgba(240, 248, 255, 0.338);
    padding: 0;
}
.createEvent img {
    width: 90px;
    height: 90px;
    margin-right: 0px;
}  
.createEvent h1{
  text-transform: capitalize;
    font-size: 3.2vw;
    font-weight: 600;
    color: rgb(247, 247, 247);
    
    margin-right: 30px;
}
.createEvent button{
  flex: 0.3;
    width: 130px;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    background: #E5E5E5;
     border: #E5E5E5;
    padding: 0 1rem;
    color: #3C217B;
    
    outline: none;

    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.createEvent button:hover{
  background: #3C217B;
    color: #E5E5E5;
    transition: transform 0.3s ease;
}